:root {
  --brown: #4f4f4f;
  --white: #FFFFFF;
  --blue: #305BB9;
  --lavender-web: #9AA6C0;
  --grey-like: #E0E3ED;
  --grey-like2: #D9D9D9;
  --light-periwinkle: #DFE3EE;
  --closeToWhite: #F5F5F5;
  --orangelike: #D4661B;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: var(--brown);
  color: var(--orangelike);
}

header {
  padding: 20px 35px;
  /* background-color: rgb(99, 98, 98); */
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 50px;
  /* background-color: rgb(99, 98, 98); */
}

footer {
  background: var(--orangelike);
  color: white;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 25px 25px 0 0;
}

.footer-button {
  background: var(--orangelike);
  color: white;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 25px 25px 0 0;
}

footer h2 {
  margin-left: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

/* .img-results {
    margin: 10px auto;
    padding-bottom: 10px;
    width: 40%;
}

.Search-results-list {
    font-weight: bold;
    font-size: 22px;
    margin: 10px auto;
    padding-bottom: 50px;
    width: 20%;
    border-bottom: 5px solid var(--orangelike);
} */

#results-list li {
  display: flex;
  margin: 1rem auto;
  color: white;
}

.img-results {
  margin: auto;
  padding-bottom: 10px;
  max-width: 50%;
}


.search-results-list {
  list-style-type: none;
  font-weight: bold;
  font-size: 22px;
  margin: 10px auto;
  padding-bottom: 50px;
  width: 80%;
}

.results-rows {
  font-size: 22px;
  margin: 50px auto;
  padding-bottom: 50px;
  width: 80%;
  border-bottom: 5px solid var(--orangelike);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.btn {
  border: 1px solid white;
  background: none;
  padding: 10px 20px;
  font-size: 30px;
  font-family: "montserrat";
  cursor: pointer;
  margin: 10px;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn1 {
  color: white;
}

.btn1:hover {
  color: var(--grey-like);
}



.btn1::before {
  top: 0;
  border-radius: 0 0 50% 50%;
}

.poster-container {
  display: flex;
  justify-content: space-around;
}

.subhead {
  text-align: center;
  border-bottom: 1px solid var(--orangelike);
  max-width: 75%;
  margin: auto;
  padding: 1rem 0;
}

#title {
  text-align: center;
}

.orange {
  color: var(--orangelike);
}

.source-icon {
  max-width: 2rem;
  margin: 0 1rem 0 0;
  object-fit: contain;
}

@media screen and (max-width: 980px) {

  .btn1:hover::before {
    height: 180%;
  }
}

@media screen and (max-width: 980px) {}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 575px) {}