* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--lavender-web: hsla(226, 27%, 90%, 1);
--light-periwinkle: hsla(225, 24%, 87%, 1);
--umber: rgb(96, 75, 63);
--chocolate-web: rgb(220, 100, 20);
}

html {
    height: 100%;
}

body {
    height: 100%;   
    margin: auto; 
    font-family: Helvetica, Arial, sans-serif;
    /* max-width: 500px; */
    background: var(--umber);
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

h1 {
    font-size: 1.75em;
    font-weight: bold;
}

main, div, form {
    height: 100%;
    width: 100%;
    min-width: 100%;
}
.title-bar {
    background: var(--umber);
    height: 7%;
    margin-bottom: 25px;
    text-align: center;
}

.title-bar-title {
    color: var(--chocolate-web)
}

.button {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--chocolate-web);
  line-height: 1;
  cursor: auto;
  width: 60%;
  min-width: ;
}

.centered-elems {
    text-align: center;
}
#recent-search-div {
    visibility: hidden;
}