:root {
  --blue: #305BB9;
  --brown: #4f4f4f;
  --closeToWhite: #F5F5F5;
  --grey-like: #E0E3ED;
  --orangelike: #D4661B;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-attachment: fixed;
  background: var(--brown);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: auto;
  max-width: 500px;
  padding-top: 14px;
  text-align: center;
}

body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background: var(--brown);
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: auto;
  max-width: 500px;
}

h1 {
  font-size: 2em;
  text-transform: uppercase;
}

div, form {
  min-width: 100%;
}

main {
  height: 100%;
  min-width: 100%;
}

#recent-search-div {
    background-color: var(--grey-like);
    color: var(--blue);
    font-size: 1em;
    padding-top: 10px;
    text-align: left;
    visibility: hidden;
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.4);
  }

#recent-search-div h3 {
  border-bottom: #D4661B solid 1px;
  font-size: 1em;
  text-transform: uppercase;
  margin-bottom: 3px;
  margin: 0;
  padding-bottom: 3px;
  text-align: center;
}

#recent-search-div hr {
  border-color: var(--orangelike);
  font-size: .75em;
  margin: 0;
}

#searchTxt {
  background-color: var(--grey-like);
  border-radius: 10px;
}

#recents-list li {
    font-size: 1em;
    text-align: center;
    margin-top: 0.5em;
    list-style-type: none;
  }  

.title-bar {
  background: var(--brown);
  height: 7%;
  margin-bottom: 10px;
  text-align: center;
}

.title-bar-title {
  color: var(--orangelike)
}

.button {
  background-color: var(--orangelike);
  border-radius: 10px;
  cursor: auto;
  line-height: 1;
  margin: 0;
  padding: 10px;
  width: 60%;
}

.button:hover {
    background-color: var(--grey-like);
    color: var(--orangelike);
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.4);
    transition: 0.5s;
}

.button:active {
    background-color: black;
}

.button-container {
  display: flex;
}

.results-btn {
  background-color: transparent;
  border-color: var(--closeToWhite);
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  color: var(--closeToWhite);
  cursor: auto;
  line-height: 1;
  margin-top: 10px;
  padding-bottom: 0;
  padding: 10px;
  text-align: left;
  width: 50%;
  line-height: 20pt;
}

.results-btn:hover {
    background-color: var(--grey-like);
    color: var(--brown);
    box-shadow: 3px 3px 3px 2px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.playBtn {
  color: var(--orangelike);
  left: -40px;
  min-height: 5px;
  min-width: 5px;
  position: relative;
  top: 20px;
}

.centered-elems {
  text-align: center;
}

.orange-txt {
  color: var(--orangelike);
  line-height: 20pt;
}